# --- 폰트 경로 (옵션: OS별로 다르면 지정) ---
# FONT_PATH=/System/Library/Fonts/AppleSDGothicNeo.ttc
# FONT_PATH=C:\Windows\Fonts\malgun.ttf

# --- 프린터 포트/baud 수동 지정 (옵션) ---
# PRINTER_DEVICE=/dev/tty.usbmodemXXXX
# PRINTER_DEVICE=COM3
# PRINTER_BAUDRATE=115200
